/* 改变主题色变量 */
$--color-primary: #4fc08d;
$--color-success: #8bc34a;
$--color-warning: #ffe787;
$--color-danger: #7c77b9;
$--color-info: #909399;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';
